.hero { 
    
    background: #2f303a;
padding: 118px 0;
    background: #2f303a;
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4));
    background-repeat: no-repeat;
    border-top: 0ch;
    background-size: cover;
    background-position: center;
@media screen and (min-width:768px) {
        padding: 128px 0;
    }
    @media screen and (min-width:1200px) 
    {padding: 200px 0;}
@media screen and (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    background-image:
        linear-gradient(to right,
            getColor('box-shadow-8'),
            getColor('box-shadow-8')),
        url("../images/mobil/header-mobil.jpg");
}

@media screen and (min-width: 480px) {
    background-size: auto;
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2),
(min-width: 480px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 480px) and (min-resolution: 192dpi),
(min-width:480px) and (min-resolution: 2dppx) {
    background-image:
        linear-gradient(to right,
            getColor('box-shadow-8'),
            getColor('box-shadow-8')),
        url("../images/mobil/header-mobil2x.jpg");
    background-size: contain;
}

@media screen and (min-width: 768px) {
    background-image:
        linear-gradient(to right,
            getColor('box-shadow-8'),
            getColor('box-shadow-8')),
        url("../images/order/phototablet(1x)_768.jpg");
    background-size: contain;
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
(min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 768px) and (min-resolution: 192dpi),
(min-width:768px) and (min-resolution: 2dppx) {
    background-image:
        linear-gradient(to right,
            getColor('box-shadow-8'),
            getColor('box-shadow-8')),
        url("../images/order/phototablet(2x)_1536.jpg");
    background-size: contain;
}

@media screen and (min-width: 1200px) {
    padding: 200px 0;
    background-image:
        linear-gradient(to right,
            getColor('box-shadow-8'),
            getColor('box-shadow-8')),
        url("../images/order/photodesktop(1x)_1600.jpg");
    background-size: auto;
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
(min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
(min-width:1200px) and (min-resolution: 192dpi),
(min-width: 1200px) and (min-resolution: 2dppx) {
    background-image:
        linear-gradient(to right,
            getColor('box-shadow-8'),
            getColor('box-shadow-8')),
        url("../images/order/photodesktop(2x)_3200.jpg");
    background-size: cover;
}

@media screen and (min-width: 1601px) and (min-device-pixel-ratio: 2),
(min-width: 1601px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 1601px) and (min-resolution: 192dpi),
(min-width: 1601x) and (min-resolution: 2dppx) {
    background-size: contain;
}
    
}



.hero__slogan {
    max-width: 360px;
    font-weight: 900;
font-size: 26px;
    line-height: 1.61;

    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #ffffff;
    margin: 0 auto 30px;

@media screen and (min-width:1200px) {
    max-width: 696px;
  font-size: 44px;
    line-height: 1.37;

   }
}