.regular-customers-list {
    display: flex;
    gap: 30px;
}

.regular-customers-logo {
    display: block;

    width: 170px;
    height: 90px;

    border: 1px solid #afb1b8;
    color: #afb1b8;
    background-color: #fff;
    padding: 16px 32px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-clients-logo {
    width: 106px;
    height: 60px;
    fill: #afb1b8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
    width: 170px;
    height: 92px;
}


.regular-customers-logo:hover,
.regular-customers-logo:focus {
    border-color: var(--hover-color);
}

.regular-customers-logo:hover .regular-clients-logo,
.regular-customers-logo:focus .regular-clients-logo {
    fill: #2196f3;
}