.address {
    margin-top: 20px;
}

.map-item {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.map-item:hover,
.map-item:focus {
    color: var(--hover-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-item {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-item:hover,
.mail-item:focus {
    color: var(--hover-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.call-item {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.call-item:hover,
.call-item:focus {
    color: var(--hover-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link {
    padding-top: 9px;
}