.sec-logo {
    font-family: var(--secondary-font);

    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #ffffff;
}

.logo-white {
    color: var(--hover-color);
}